{{! -*- markdown -*- }}
# {{name}}
{{#contact}}  
{{#address}}{{#first_line}}{{.}}  
{{/first_line}}{{#second_line}}{{.}}  
{{/second_line}}{{/address}}
{{phone}}  
{{email}}  
{{#websites.length}}

#### Websites
{{/websites.length}}
{{#websites}}{{url}}  
{{/websites}}

{{/contact}}
{{#skills}}

# Skills & Languages
{{#concepts.length}}

#### Skills
{{/concepts.length}}
{{#concept_lines}}{{48}}{{#lines}}{{#value}}{{.}}{{delim}}{{/value}}  
{{/lines}}
{{/concept_lines}}
{{#languages.length}}

#### Programming Languages
{{/languages.length}}
{{#language_lines}}{{20}}{{#lines}}{{#value}}{{.}}{{delim}}{{/value}}  
{{/lines}}
{{/language_lines}}
{{#frameworks.length}}

#### Frameworks
{{/frameworks.length}}
{{#frameworks}}{{.}}{{delim}}{{/frameworks}}

{{/skills}}
{{#projects.length}}

# Open Source Projects

{{/projects.length}}
{{#projects}}
#### {{title}} :: {{#homepage}}[{{label}}]({{url}}) {{/homepage}} :: {{language}}

{{#bulletpoints}}
 * {{.}}
{{/bulletpoints}}

{{/projects}}
{{#jobs.length}}

# WORK EXPERIENCE

{{/jobs.length}}
{{#jobs}}
#### {{company}} :: {{title}} :: {{#languages}}{{.}}{{delim}}{{/languages}}
{{#dates}}{{start}} - {{end}}{{/dates}}  
{{location}}

##### Accomplishments 
{{#accomplishments}}
 * {{summary}}
 {{#details}}
   - {{.}}
 {{/details}}
{{/accomplishments}}

{{/jobs}}
{{#education.length}}

# EDUCATION

{{/education.length}}
{{#education}}
#### {{title}}
{{source}}  
{{location}} - {{date}}

{{#courses.length}}
##### Courses
{{/courses.length}}
{{#course_lines}}{{40}}{{#lines}}{{#value}}{{.}}{{delim}}{{/value}}  
{{/lines}}
{{/course_lines}}

{{#projects.length}}
##### Projects
{{/projects.length}}
{{#projects}}
  - {{label}}
    - {{url}}

{{/projects}}
{{/education}}
