# {{name}}
{{#contact}}
{{#address~}}
{{#first_line}}{{.}}{{/first_line}}
{{second_line}}
{{/address}}
{{phone}}
{{email}}

#### Websites
{{#websites}}{{url}}
{{/websites}}

{{~/contact}}
{{~#skills}}
# Skills & Languages

#### Skills

{{#concepts~}}
    {{~#row}}{{cell}}{{{delim}}} {{/row}}
{{/concepts}}

#### Programming Languages

{{#languages~}}
    {{~#row}}{{cell}}{{delim}} {{/row}}
{{/languages}}

#### Frameworks

{{#frameworks}}{{cell}}{{delim}} {{/frameworks}}

{{/skills~}}

# Open Source Projects
{{#projects}}
#### {{title}} :: {{#homepage}}[{{label}}]({{url}}) {{/homepage}}:: {{language}}
{{#bulletpoints}}
 * {{.}}
{{/bulletpoints}}{{/projects}}

# WORK EXPERIENCE
{{#jobs}}
#### {{company}} :: {{title}} :: {{#languages}}{{#row}}{{cell}}{{delim}} {{/row}}{{/languages}}

{{#dates}}{{start}} - {{end}}{{/dates}}
{{location.oneLine}}

##### Accomplishments
{{#accomplishments}}
 * {{summary}}
 {{#details}}
   - {{.}}
 {{/details}}{{/accomplishments}}
{{/jobs}}

# EDUCATION
{{#education}}
#### {{title}}

{{source}}  
{{location.oneLine}} - {{date}}

##### Courses

{{#courses}}{{#row}}{{cell}}{{delim}} {{/row}}
{{/courses}}
##### Projects
{{#projects}}
  - {{label}}
    - {{url}}
{{/projects}}
{{/education}}
