{{! -*- markdown -*- }}
# {{name}}
{{#contact}}  
{{#address}}{{street}}, {{city}}, {{state}} {{zip}}{{/address}}  
{{phone}}  
{{email}}  
{{#websites.length}}

#### Websites
{{/websites.length}}
{{#websites}}
-  {{url}}
{{/websites}}
{{/contact}}
{{#skills}}

# Skills & Languages
{{#meta.length}}
#### Skills
{{/meta.length}}

{{#meta}}
{{#line}}{{entry}}{{^last}}, {{/last}}{{/line}}  
{{/meta}}
{{#languages.length}}

#### Programming Languages
{{/languages.length}}
{{#languages}}{{#line}}{{entry}}{{^last}}, {{/last}}{{/line}}  
{{/languages}}
{{#frameworks.length}}

#### Frameworks
{{/frameworks.length}}
{{#frameworks}}
{{#line}}{{entry}}{{^last}}, {{/last}}{{/line}}  
{{/frameworks}}
{{/skills}}
{{#projects.length}}

# Open Source Projects
{{/projects.length}}
{{#projects}}
#### {{title}} :: {{#websites}}{{#homepage}}[{{label}}]({{url}}) {{/homepage}}{{/websites}}

##### {{language}}
{{#bulletpoints}}
 * {{.}}
{{/bulletpoints}}

{{/projects}}
{{#jobs.length}}

# WORK EXPERIENCE
{{/jobs.length}}
{{#jobs}}
#### {{company}} :: {{#dates}}{{from}} - {{to}}{{/dates}}
##### {{title}}
###### {{languages}}
{{#accomplishments}}
 * {{summary}}
 {{#details}}
   - {{.}}
 {{/details}}
{{/accomplishments}}
{{/jobs}}
{{#education.length}}

# EDUCATION
{{/education.length}}
{{#education}}
#### {{title}}
{{#source}}{{name}}  
{{city}}, {{state}} - {{date}}
{{/source}}

##### Courses
{{#courses}}{{#line}}{{entry}}{{^last}}, {{/last}}{{/line}}  
{{/courses}}
{{/education}}
