{{#name}}Name: {{.}}{{/name}}
{{#contact}}

CONTACT INFORMATION
-------------------
Address: {{#address}}{{street}}, {{city}}, {{state}} {{zip}}{{/address}}
Phone: {{phone}}
Email: {{email}}
{{#websites}}
Website: {{url}}
{{/websites}}
{{/contact}}
{{#skills}}


SKILLS
------
{{#meta}}{{row}}, {{/meta}}
{{#languages.length}}

PROGRAMMING LANGUAGES
---------------------
{{/languages.length}}
{{#languages}}{{row}}, {{/languages}}
{{#frameworks.length}}

FRAMEWORKS
----------
{{/frameworks.length}}
{{#frameworks}}{{row}}, {{/frameworks}}
{{/skills}}
{{#projects.length}}


OPEN SOURCE PROJECTS
---------------------
{{/projects.length}}
{{#projects}}
Title: {{title}}
{{#websites}}
Website: {{url}}
{{/websites}}
{{#bulletpoints}}
 * {{.}}
{{/bulletpoints}}

{{/projects}}
{{#jobs.length}}

WORK EXPERIENCE
---------------
{{/jobs.length}}
{{#jobs}}
{{#dates}}
From: {{from}}
To: {{to}}
{{/dates}}
Company: {{company}}
Title: {{title}}
Languages: {{languages}}
{{#accomplishments}}
 * {{summary}}
 {{#details}}
   - {{.}}
 {{/details}}
{{/accomplishments}}

{{/jobs}}
{{#education.length}}

EDUCATION
---------
{{/education.length}}
{{#education}}
Degree: {{degree}}
{{#college}}
From: {{name}}
Date: {{date}}
{{/college}}
Courses: {{#courses}}{{.}} {{/courses}}
{{/education}}
