% Change tags for mustache {{=<< >>=}}
% LaTeX resume using res.cls
% Downloaded from http://www.rpi.edu/dept/arc/training/latex/resumes/
\documentclass[line,margin]{res}
%\usepackage{helvetica} % uses helvetica postscript font (download helvetica.sty)
%\usepackage{newcent}   % uses new century schoolbook postscript font

\usepackage{hyperref}

%% Defined here so that the arguments can be reordered
\newenvironment{project}[4]
{{\textbf{#1}} \hfill #4\\
  \textsc{#2}  \hfill #3\vspace{0.5em}
  \begin{itemize} \itemsep -1pt}
  {\end{itemize}}

\begin{document}

\name{<<name>>}
% \address used up to three times to have up to three lines of address
\address{
  <<#contact~>>
  <<address.oneLine>> \\
  <<phone>> - <<email>> \\
<<#websites>>  <<url>> \\
<</websites>><</contact~>>
}

\begin{resume}
  <<#skills>>
  \section{SKILLS \\ LANGUAGES}

  \textbf{Skills} \hfill
  \begin{minipage}[t]{0.8\textwidth}
    <<#concepts>><<#row>><<cell>><<delim>> <</row>><<#unless last>> \\ <</unless>>
    <</concepts>>
  \end{minipage}

  \textbf{Languages} \hfill
  \begin{minipage}[t]{0.8\textwidth}
    <<#languages>><<#row>><<cell>><<delim>> <</row>><<#unless last>> \\ <</unless>>
    <</languages>>
  \end{minipage}

  \textbf{Frameworks} \hfill
  \begin{minipage}[t]{0.8\textwidth}
    <<#frameworks>><<cell>><<delim>> <</frameworks>>
  \end{minipage}

  \section{PROJECTS}
  <<#projects>>
  \textbf{<<title>>} \hfill <<#homepage>><<short>><</homepage>> \\
  \textsc{<<language>>}

  \begin{itemize} \itemsep -1pt
    <<#bulletpoints>>\item <<.>><</bulletpoints>>
  \end{itemize}
  <</projects>>
  <</skills>>

  \section{WORK \\ EXPERIENCE}
  <<#jobs>>
  \begin{minipage}{\textwidth}
    \textbf{<<title>>} \hfill <<#dates>><<start>> - <<end>><</dates>>

    \textsc{<<company>>} \hfill
    <<location.oneLine>>

    \small{<<#languages>><<#row>><<cell>><<delim>> <</row>><</languages>>}
    \vspace{0.5em}
    \begin{itemize} \itemsep -1pt
      <<#accomplishments>>
    \item
      <<summary>>
      <<#if details>>
      \begin{itemize}
        <<#details>>
      \item <<.>>
        <</details>>
      \end{itemize}
      <</if>>
      <</accomplishments>>
    \end{itemize}
  \end{minipage}
  <</jobs>>

  \section{EDUCATION}
  <<#education>>
  \begin{minipage}{\textwidth}
    \textbf{<<title>>} \hfill <<date>>\\
    \textsc{<<source>>} \hfill <<location.oneLine>>\\

    {\textbf Relevant Coursework}\\
    {\raggedright
      <<#courses>>
      <<#row>><<cell>><<delim>> <</row>> \\
      <</courses>>
    }

    {\textbf Projects}
    \begin{itemize}
      <<#projects>>
    \item <<{label}>> \\ <<url>>
      <</projects>>
    \end{itemize}
  \end{minipage}
  <</education>>
\end{resume}
\end{document}