% Change tags for mustache {{=<< >>=}}
% LaTeX resume using res.cls
% Downloaded from http://www.rpi.edu/dept/arc/training/latex/resumes/
\documentclass[line,margin]{res}
%\usepackage{helvetica} % uses helvetica postscript font (download helvetica.sty)
%\usepackage{newcent}   % uses new century schoolbook postscript font

\usepackage{hyperref}

%% Defined here so that the arguments can be reordered
\newenvironment{project}[4]
{{\textbf{#1}} \hfill #4\\
  \textsc{#2}  \hfill #3\vspace{0.5em}
  \begin{itemize} \itemsep -1pt}
  {\end{itemize}}

\begin{document}

\name{<<name>>}
% \address used up to three times to have up to three lines of address
\address{
  <<#contact>>
  <<address>> \\
  <<phone>> - <<email>> \\
  <<#websites>>
  <<url>> \\
  <</websites>>
  <</contact>>
}

\begin{resume}
  <<#skills>>
  \section{SKILLS \\ LANGUAGES}
  <<#concepts.length>>
  \textbf{Skills} \hfill
  \begin{minipage}[t]{0.8\textwidth}
    <<#concept_lines>>{{48}}{{#lines}}{{#value}}{{.}}{{delim}}{{/value}} \\ {{/lines}}
    <</concept_lines>>
  \end{minipage}
  <</concepts.length>>
  <<#languages.length>>
  \textbf{Languages} \hfill
  \begin{minipage}[t]{0.8\textwidth}
    <<#language_lines>>{{20}}{{#lines}}{{#value}}{{.}}{{delim}}{{/value}} \\ {{/lines}}
    <</language_lines>>
  \end{minipage}
  <</languages.length>>
  <<#frameworks.length>>
  \textbf{Frameworks} \hfill
  \begin{minipage}[t]{0.8\textwidth}
    <<#frameworks>><<.>><<delim>><</frameworks>>
  \end{minipage}
  <</frameworks.length>>

  <<#projects.length>>
  \section{PROJECTS}
  <</projects.length>>
  <<#projects>>
  \textbf{<<title>>} \hfill <<#homepage>><<short>><</homepage>> \\
  \textsc{<<language>>}

  \begin{itemize} \itemsep -1pt
    <<#bulletpoints>>\item <<.>><</bulletpoints>>
  \end{itemize}
  <</projects>>
  <</skills>>

  <<#jobs.length>>
  \section{WORK \\ EXPERIENCE}
  <</jobs.length>>
  <<#jobs>>
  \begin{minipage}{\textwidth}
    \textbf{<<title>>} \hfill <<#dates>><<start>> - <<end>><</dates>>

    \textsc{<<company>>} \hfill
    <<location>>

    \small{<<#languages>><<.>><<delim>><</languages>>}
    \vspace{0.5em}
    \begin{itemize} \itemsep -1pt
      <<#accomplishments>>
    \item
      <<summary>>
      <<#details.length>>
      \begin{itemize}
        <<#details>>
      \item <<.>>
        <</details>>
      \end{itemize}
      <</details.length>>
      <</accomplishments>>
    \end{itemize}
  \end{minipage}

  <</jobs>>

  <<#education.length>>
  \section{EDUCATION}
  <</education.length>>
  <<#education>>
  \begin{minipage}{\textwidth}
    \textbf{<<title>>} \hfill <<date>>\\
    \textsc{<<source>>} \hfill <<location>>\\

    <<#courses.length>>
    {\bf Relevant Coursework}\\
    {\raggedright
      <<#courses>>
      <<.>><<delim>>
      <</courses>>
    }
    \\

    <</courses.length>>
    <<#projects.length>>

    {\bf Projects}
    \begin{itemize}
      <<#projects>>
    \item <<label>> \\ <<url>>
      <</projects>>
    \end{itemize}
    <</projects.length>>
  \end{minipage}
  <</education>>
\end{resume}
\end{document}
